<!DOCTYPE html>
<html>
    <head>
        <title>Kosima</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/stylesheets/index.css">
    </head>
    <body>
        <div class="Kosima">
            <div class="Bar Closed">
                <div class="Bar-Header">
                    <div class="Identity">
                        <div class="Logo"></div>
                        <h1 class="Title">Kosima</h1>
                    </div>
                    <div class="Burger" onclick="ToggleBar()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="Bar-Menu">
                    <ul class="Bar-Menu-Items">
                        <li class="Bar-Menu-Item">
                            <a href="/" class="Bar-Link">Home</a>
                            <span class="Upper-Fold"></span>
                            <span class="Lower-Fold"></span>
                        </li>
                        <li class="Bar-Menu-Item">
                            <a href="/" class="Bar-Link">Orders</a>
                            <span class="Upper-Fold"></span>
                            <span class="Lower-Fold"></span>
                        </li>
                        <li class="Bar-Menu-Item">
                            <a href="/" class="Bar-Link">Financeiro</a>
                            <span class="Upper-Fold"></span>
                            <span class="Lower-Fold"></span>
                        </li>
                        <li class="Bar-Menu-Item">
                            <a href="/" class="Bar-Link">Estoque</a>
                            <span class="Upper-Fold"></span>
                            <span class="Lower-Fold"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Content">
                <!---------------------------->
                <div class="Tables-Wrapper">

                    <div class="Table-Container">
                        <div class="Table-Header">
                            <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/ce/1e/63/daruma-restaurante-japones.jpg" alt="">
                        </div>
                        <div class="Table-Body">
                            <div class="Table-Text">
                                <div class="Table-Number">21</div>
                                <div class="Table-Parcial">
                                    <h2>Valor Atual</h2>
                                    <span>R$512,79</span>
                                </div>
                            </div>
                            <div class="Table-Buttons">
                                <button class="Table-Open" onclick="AbrirMesa(id)">Abrir Mesa</button>
                                <button class="Table-Details" onclick="DetalheMesa(id)">Detalhes</button>
                                <button class="Table-Close" onclick="FecharMesa(id)">Fechar Mesa</button>
                            </div>
                        </div>
                    </div>

                    <div class="Table-Container Inactive">
                        <div class="Table-Header">
                            <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/ce/1e/63/daruma-restaurante-japones.jpg" alt="">
                        </div>
                        <div class="Table-Body">
                            <div class="Table-Text">
                                <div class="Table-Number">22</div>
                                <div class="Table-Parcial">
                                    <h2>Valor Atual</h2>
                                    <span>-</span>
                                </div>
                            </div>
                            <div class="Table-Buttons">
                                <button class="Table-Open" onclick="AbrirMesa(id)">Abrir Mesa</button>
                                <button class="Table-Details" onclick="DetalheMesa(id)">Detalhes</button>
                                <button class="Table-Close" onclick="FecharMesa(id)">Fechar Mesa</button>
                            </div>
                        </div>
                    </div>

                </div>
                <!---------------------------->
            </div>
        </div>
    </body>
    <script>
        window.BarOpen = false;
        function ToggleBar(){
            if(window.BarOpen == true){
                document.querySelector('.Bar').classList.add('Closed');
                window.BarOpen = false;
            }
            else{
                document.querySelector('.Bar').classList.remove('Closed');
                window.BarOpen = true;
            }
        }
    </script>
</html>
