<!DOCTYPE html>
<html>
  <head>
    <title>Kosima</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/modal.css" />
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
  </head>
  <body>
    <div class="Kosima">
      <div class="Bar Closed">
        <div class="Bar-Header">
          <div class="Identity">
            <div class="Logo"></div>
            <h1 class="Title">Kosima</h1>
          </div>
          <div class="Burger" onclick="ToggleBar()">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="Bar-Menu">
          <ul class="Bar-Menu-Items">
            <li class="Bar-Menu-Item">
              <a href="/" class="Bar-Link">Home</a>
              <span class="Upper-Fold"></span>
              <span class="Lower-Fold"></span>
            </li>
            <li class="Bar-Menu-Item">
              <a href="/pedidos" class="Bar-Link">Pedidos</a>
              <span class="Upper-Fold"></span>
              <span class="Lower-Fold"></span>
            </li>
            <li class="Bar-Menu-Item">
              <a href="/financeiro" class="Bar-Link">Financeiro</a>
              <span class="Upper-Fold"></span>
              <span class="Lower-Fold"></span>
            </li>
            <li class="Bar-Menu-Item">
              <a href="/estoque" class="Bar-Link">Estoque</a>
              <span class="Upper-Fold"></span>
              <span class="Lower-Fold"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="Content">
        <!---------------------------->
        <div class="Tables-Wrapper"></div>
        <!---------------------------->
      </div>
    </div>
    <div class="Modal-Wrapper">
      <!-- Renderizar um modal para cada mesa aberta -->

      <!-- Renderizar um modal para cada mesa aberta -->
    </div>
  </body>
  <script>
    window.BarOpen = false;
    MicroModal.init({
      disableFocus: true,
    });

    const tables_wrapper = document.querySelector('.Tables-Wrapper');
    const modals_wrapper = document.querySelector('.Modal-Wrapper');

    fetch('http://localhost:5000/home')
      .then(response => {
        if (!response.ok) {
          throw response;
        }
        return response.json();
      })
      .then(data => {
        data.forEach(function (table, index) {
          const table_container = document.createElement('div');

          table_container.innerHTML = `<div class="Table-Container ${
            table.status == 1 ? '' : 'Inactive'
          }">
            <div class="Table-Header">
              <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/ce/1e/63/daruma-restaurante-japones.jpg"/>
            </div>
            <div class="Table-Body">
              <div class="Table-Text">
                <div class="Table-Number">${table.id}</div>
                <div class="Table-Parcial">
                  <h2>Valor Atual</h2>
                  <span>${
                    table.pedidos.valorFinal
                      ? `R$${table.pedidos.valorFinal}`
                      : '-'
                  }</span>
                </div>
              </div>
              <div class="Table-Buttons">
                <button class="Table-Open" onclick="AbrirMesa(${table.id})">
                  Abrir Mesa
                </button>
                <button class="Table-Details" onclick="showModal(${table.id})">
                  Detalhes
                </button>
              </div>
            </div>
          </div>`;

          tables_wrapper.append(table_container);

          const tableOrders = table.pedidos.forEach(element => {
            tableOrders +=
              `<tr class="order-item">
                <td class="order-name">` +
              element.produto +
              `</td>
                <td class="order-qt">` +
              element.quantidade +
              `</td>
                <td class="order-price">R$` +
              element.valor / element.quantidade +
              `</td>
              </tr>`;
          });
          const modal = document.createElement('div');

          modal.innerHTML = `
            <div class="modal micromodal-slide" id="modal-${table.id}" aria-hidden="true">
              <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-${table.id}-title">
                  <header class="modal__header">
                    <h2 class="modal__title" id="modal-${table.id}-title">Mesa ${table.id}</h2>
                    <button
                      class="modal__close"
                      aria-label="Close modal"
                      data-micromodal-close
                    ></button>
                  </header>
                  <main class="modal__content" id="modal-${table.id}-content">
                    <table class="order-wrapper">

                    </table>
                  </main>
                  <footer class="modal__footer">
                    <button onclick="FecharMesa(${table.id})" class="modal__btn modal__btn-primary">
                      Fechar Conta
                    </button>
                    <button class="modal__btn" data-micromodal-close>Voltar</button>
                  </footer>
                </div>
              </div>
            </div>
          `;
          if (table.status == 1) {
            modals_wrapper.append(modal);

            const modal_table = document.querySelector(
              `#modal-${table.id} .order-wrapper`,
            );

            const modal_content_header = document.createElement('tr');
            modal_content_header.innerHTML = `
              <tr class="order-item" id="legenda">
                <th class="order-name">Nome do Item</th>
                <th class="order-qt">Qtd</th>
                <th class="order-price">Valor Un.</th>
              </tr>
            `;

            modal_content_header.classList.add('order-item');
            modal_table.append(modal_content_header);

            table.pedidos.forEach(element => {
              console.log(element);
              const modal_content_body = document.createElement('tr');

              modal_content_body.innerHTML = `
                <td class="order-name">${element.produto}</td>
                <td class="order-qt">${element.quantidade}</td>
                <td class="order-price">R$${
                  element.valor / element.quantidade
                }</td>
              `;
              modal_content_body.classList.add('order-item');

              modal_table.append(modal_content_body);
            });

            const modal_content_footer = document.createElement('tr');
            modal_content_footer.innerHTML = `
              <th class="order-name">Total</th>
              <th></th>
              <th></th>
              <th class="order-price">${
                table.pedidos.valorFinal ? `R$${table.pedidos.valorFinal}` : '-'
              }</th>
            `;

            modal_content_footer.classList.add('order-item');

            modal_table.append(modal_content_footer);
          }
        });
      })
      .catch(error => {
        console.log(error);
        error.then(data => console.log(data));
      });

    function ToggleBar() {
      if (window.BarOpen == true) {
        document.querySelector('.Bar').classList.add('Closed');
        window.BarOpen = false;
      } else {
        document.querySelector('.Bar').classList.remove('Closed');
        window.BarOpen = true;
      }
    }

    function AbrirMesa(id) {
      //muda o valor da flag "aberta" e recarrega a pagina
    }
    function FecharMesa(id) {
      //muda o valor da flag "aberta", lança o lucro no financeiro e recarrega a pagina
    }

    function showModal(id) {
      MicroModal.show(`modal-${id}`);
    }
  </script>
</html>
